body * {
    border: 3px solid black;
    text-align: center;
    font-size: 2rem;
}

header{
    height: 25px;
    padding: 30px;
    margin: 5px;
    font-weight: bold;
    color: green;
}

nav{
    height: 25px;
    padding: 30px;
    margin: 5px;
    font-weight: bold;
    color: green;
}

aside{
    display: inline-block;
    width: 502px;
    height: 22vh;
    padding: 150px;
    margin: 5px;
    font-weight: bold;
    color: green;
}

section{
    border: none;
    display: inline-block;
}

footer{
    height: 40px;
    padding: 30px;
    margin: 5px;
    font-weight: bold;
    color: green;
}