body{
    font-size: 2rem;
}

header, nav, footer{
    border: 2px solid black;
    margin: 5px;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: green;
}

header{
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: row;
}

.container div{
    height: 50vh;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-weight: bold;
    color: green;
}

.container div:nth-child(2){
    flex-grow: 2;
}