body{
    font-size: 2rem;
}

header, nav, footer{
    border: 2px solid black;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: green;
}

header{
    height: 15vh;
}

nav{
    border-top: none;
}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: green;
}

.container .main{
    border-bottom: none;
    border-top: none;
    border-right: 2px solid #000;
    height: 70vh;
    width: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: green;
}

.section_cont{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    color: green;
}

.section_cont .pic{
    border: 2px solid black;
    height: 25vh;
    width: calc(30% - 1%);
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.section_cont .abm{
    border: 2px solid black;
    height: 25vh;
    width: calc(70% - 1%);
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.recenttweets_container{
    border: 2px solid black;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}