body * {
    border: 3px solid black;
    margin: 5px;
    text-align: center;
    font-size: 2rem;
}

nav{
    height: 25px;
    padding: 30px;
    font-weight: bold;
    color: green;
}

header{
    height: 25px;
    padding: 30px;
    font-weight: bold;
    color: green;
}

main{
    height: 100px;
    padding: 60px;
    text-align: center;
    font-weight: bold;
    color: green;
}

footer{
    height: 25px;
    padding: 30px;
    font-weight: bold;
    color: green;
}